[submodule "themes/crab"]
	path = themes/crab
	url = https://github.com/thomasheller/crab
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "themes/coco"]
	path = themes/coco
	url = https://github.com/nishanths/cocoa-hugo-theme.git
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/sybeck2k/hugo-theme-bootstrap4-blog.git

